.button {
  font-size: 1.06rem;
  font-weight: 700;
  padding: 0.63rem 1.25rem;
  color: #ffffff;
  background-color: #5457b6;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}
