.comment {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;

  @media screen and (max-width:767px) {
    flex-direction: column;

    textarea{
      align-self:flex-start;
      justify-self: flex-start;
      
    }

    img{
      align-self: flex-end;
      justify-self: end;
    }
    
  }

  img {
    display: block;
    max-width: 30px;
  }
}
