.comment {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0.94rem;
  width: 100%;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.5rem;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    textarea {
      align-self: flex-start;
      justify-self: flex-start;
    }

    img {
      align-self: flex-end;
      justify-self: end;
    }
  }

  img {
    display: block;
    max-width: 1.88rem;
  }
}
