$oneColor: #324152;
$darkColor: #707a86;
$blueColor: #5457b6;
$detailsColor: #f5f6fa;

.cards {
  background-color: #ffffff;
  width: 100%;
  padding: 1.25rem;
  gap: 1.38rem;
  border-radius: 0.5rem;

  .info {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
      display: block;
      max-width: 1.88rem;
    }

    & :nth-child(2) {
      color: $oneColor;
    }

    & :last-child {
      color: $darkColor;
    }
  }

  .content {
    text-align: left;
    margin-top: 10px;
    color: $darkColor;
  }

  .wrapperInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    button {
      font-size: 1.06rem;
      font-weight: 700;
      color: $blueColor;
      display: flex;
      align-items: center;
      gap: 0.19rem;
      background-color: transparent;
      cursor: pointer;
      padding: 0.13rem;
      border: none;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
