$blueColor: #5457B6;
$detailsColor: #F5F6FA;

.control{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: $detailsColor;
    padding: 10px 0px;
    max-width: 8%;
    border-radius: 8px;


    input{
        font-size: 17px;
        font-weight: 700;
        display: block;
        width: 50%;
        background-color: transparent;
        color: $blueColor;
        text-align: center;
        pointer-events: none;
        border: none;
    }
}
